body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.react-flow__panel > a {
  color: rgba(0,0,0,0) !important;
  background-color: rgba(0,0,0,0) !important;
}

.react-flow__attribution {
  background-color: rgba(0,0,0,0) !important;
}

.react-flow__node {
  z-index: 1 !important;
}

.react-flow__node.selected {
  z-index: 3 !important; /* опционально: для выделенной */
}

.react-flow__edges {
  z-index: 4 !important;
}

.react-flow__edge-path {
  z-index: 4 !important;
}

.react-flow__minimap-svg {
  display: block;

}

